@model ClientSaleApi.Models.OrderItems.OrderItemsViewModel
@{
	long subTotal = 0;
	long subTotalDiscount = 0;
	long toTal = 0;
	long toTalCoupon = 0;
}

<table class="table table-light table-borderless table-hover text-center mb-0">
	@if (Model != null && Model?.OrderItems.TotalCount == 0)
	{
		<caption class="text-center"> Không có dữ liệu </caption>
	}
	<thead class="thead-dark">
		<tr>
			<th>Products</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total</th>
			<th>Rebuy</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			@foreach (var item in Model.OrderItems.Items)
			{
				<tr>
					@if (!string.IsNullOrEmpty(item.ProductImage))
					{
						<td class="text-start" style="text-align: left;"><img src="@Url.Content("http://localhost:5260/"+@item.ProductImage)" alt="Product-Image" style="width: 50px;"> @item.ProductName</td>
					}
					else
					{
						<td class="text-start" style="text-align: left;"> @item.ProductName</td>
					}
					@if (item.Discount > 0)
					{
						<td class="text-start item-price" style="text-align: right;"> @item.Price.ToString("N0")<br /> @($"-{item.Discount}%") </td>
					}
					else
					{
						<td class="text-start item-price" style="text-align: right;"> @item.Price.ToString("N0") </td>
					}
					<td class="align-middle">
						<div class="input-group quantity mx-auto">
							<input type="number" name="Quantity" class="form-control form-control-sm bg-secondary border-0 text-center" value="@item.Quantity" style="background-color: transparent !important;" readonly>
						</div>
					</td>
					@{
						long Total = item.Quantity * item.Price;
						long TotalDiscount = (item.Discount != 0) ? (long)(item.Quantity * item.Price * item.Discount!.Value) / 100 : 0;
					}
					@if (item.Discount > 0)
					{
						<td class="text-start item-total" style="text-align: right;"> @Total.ToString("N0")<br> @(TotalDiscount != 0 ? "-" + TotalDiscount.ToString("N0") : "") </td>
					}
					else
					{
						<td class="text-start item-total" style="text-align: right;"> @Total.ToString("N0") </td>
					}
					<td class="align-middle">
						<form asp-area="" asp-action="AddToCart" asp-controller="Carts" method="post">
							<input type="hidden" name="ProductId" value="@item.ProductId" />
							<input type="hidden" name="Quantity" value="@item.Quantity" />
							<button type="submit" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i></button>
						</form>
					</td>
				</tr>
			}
		}
	</tbody>
</table>
<div class="border-bottom border-top pt-1 pb-0">
	<div class="d-flex justify-content-between mb-0">
		@if (Model != null)
		{
			foreach (var item in Model.OrderItems.Items)
			{
				subTotal += item.Price * item.Quantity;
				subTotalDiscount += (item.Price * item.Quantity * (item.Discount ?? 0)) / 100;
			}
			toTal = subTotal - subTotalDiscount;
			toTalCoupon = toTal - Model.DiscountCode;
		}
		<h6 style="text-align: right;">Subtotal</h6>
		<h6 id="subtotalValue" style="text-align: right;">@subTotal.ToString("N0")</h6>
	</div>
</div>

@if (subTotalDiscount > 0)
{
	<div class="border-bottom pt-0 pb-0">
		<div class="d-flex justify-content-between mb-0">

			<h6>Subtotal Discount</h6>
			<h6 id="subtotalDiscountValue">-@subTotalDiscount.ToString("N0")</h6>
		</div>
	</div>
}

<div class="pt-0">
	<div class="d-flex border-bottom justify-content-between mt-0">
		<h5 style="text-align: right;">Total</h5>
		<h5 id="total" style="text-align: right;">@toTal.ToString("N0")</h5>
		<input type="hidden" name="InputOrder.Total" value="@toTal">
	</div>
</div>

@if (Model?.DiscountCode > 0)
{
	<div id="discountCodeContainer" class="border-bottom pt-0 pb-0 mark">
		<div class="d-flex justify-content-between mb-0">
			<h6>Coupon @Model.PromotionName ( -@Model.DiscountValue%)</h6>
			<h6 id="discount">-@Model.DiscountCode.ToString("N0")</h6>
		</div>
	</div>

	<div id="totalcouponContainer" class="pt-0 mark">
		<div class="d-flex justify-content-between mt-0">
			<h5>Total Coupon</h5>
			<h5 id="totalcoupon">@toTalCoupon.ToString("N0")</h5>
		</div>
	</div>
}
